<!DOCTYPE html>
<html>

<head>
    <title>Admin.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto:wght@400;500;900&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <div className="holder">
            <img src="/img/pokemon_verde.png" alt="paisaje pokemon"></img>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>Derechos reservados. PokeGame 2023</p>
    </footer>
</body>

</html>